/dist/
/nbproject/private/
/build/
/temp/*
.directory
/mochilaCuadratica/grupo5000/5000_25_2.txt
/mochilaCuadratica/grupo5000/5000_25_3.txt
/mochilaCuadratica/grupo5000/5000_25_4.txt
/mochilaCuadratica/grupo5000/5000_25_5.txt
/mochilaCuadratica/resumenes


